.content {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 250px;
    padding: 25px;
    margin-top: 20px;
    box-shadow: 3px 2px 4px gainsboro;
}

#para {
    font-size: 17px;
}

#date {
    color: gray;
    font-size: 14px;
}

#category {
    border-radius: 20px;
    padding: 5px 14px;
    background-color: gainsboro;
}